/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* root variables */

:root {
  --color-primary: #ff5722;
  --color-primary-light: #ff7a50;
  --color-secondary-light: #fff6f2;
  --color-secondary-dark: #ffa589;
  --color-navbar: #f8f8f8;
  --color-heading: #000;
  --color-body: #333;
  --color-white: #fff;
}
html {
  font-size: 62.5%;
}
body {
  color: var(--color-body);
  font-size: 1.4rem;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}

/* buttons */

.btn {
  outline: 0;
  border: 0;
  border-radius: 8px;
  padding: 2rem 2.5rem;

  white-space: nowrap;
  font-size: 1.4rem;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--secondary {
  background-color: var(--color-secondary-light);
  color: var(--color-white);
}

.btn--block {
  width: 100%;
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
  .btn--block {
    font-size: 2rem;
  }
}

/* Badge */

.badge {
  display: inline-block;
  font-size: 1.2rem;
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 32px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.badge--primary {
  color: var(--color-white);
  background-color: var(--color-primary);
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
}

/* list */

.list {
  list-style: none;
  font-size: 1.8rem;
}

.list--inline .list__item {
  display: inline-block;
  margin-left: 2rem;
}

.list--tick .list__item {
  background: url("/assets/images/Tick-Square.svg") no-repeat right center;
  padding-right: 3rem;
}

.list--tick .list__item {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

/* plan */

.block-plan {
  display: grid;
  gap: 8rem 6rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
  margin-top: 5rem;
}

.plan {
  max-width: 350px;
  transition: all 0.2s ease-in;
}

.card {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 20px 10px #eee;
}
.card__header,
.card__body {
  padding: 3rem 2.5rem;
}
.card__header {
  color: var(--color-white);
  font-size: 1.8rem;
}
.card--primary .card__header {
  background-color: var(--color-primary-light);
}
.card--secondary .card__header {
  background-color: var(--color-secondary-dark);
}
.plan__introduction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.plan__price {
  font-size: 3rem;
}
.plan__billing-cycle {
  font-size: 1.4rem;
}
.plan__description {
  display: block;
  margin-top: 1.5rem;
}
.plan .btn--block {
  margin-top: 10rem;
  font-size: 1.6rem;
}
.plan--popular {
  transform: scale(1.05);
}
.plan.plan--popular:hover {
  transform: scale(1.09);
}
.plan:hover {
  transform: scale(1.03);
}
@media screen and (min-width: 1024px) {
  .plan .btn--block {
    font-size: 1.8rem;
  }
}

/* container */

.container {
  max-width: 1140px;
  margin: 0 auto;
}
