@import url("./fonts.css");

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Root Variable */
:root {
  --color-primary: #ff5722;
  --color-primary-light: #ff7a50;
  --color-secondary: #ffa589;
  --gradient-intro-btn-dark: rgba(23, 26, 60, 0.7);
  --gradient-intro-btn-medium: rgba(23, 26, 60, 0.5);
  --gradient-intro-btn-light: rgba(23, 26, 60, 0.3);
  --box-shadow-card: hsla(0, 4%, 95%, 0.986);
  --color-whisper: #ececec;
  --box-shadow-accordion: rgba(0, 0, 0, 0.05);
  --color-eclipse: #3a3a3a;
  --color-navbar: #f8f8f8;
  --color-black: #000;
  --color-black-light: rgba(0, 0, 0, 0.06);
  --color-darkCharcoal: #333;
  --color-white: #fff;
  --color-whiteSmoke: #f5f5f5;
  --color-silver: #ccc;
  --color-silverChalice: #acacac;
  --color-gray-dark: #3e3e3e;
  --color-gray-medium-dark: #444;
  --color-gray-medium: #8f8f8f;
  --color-gray-light: #cacaca;
  --color-red: #ff0000;
  --color-red-light: #f6f6f6;
  --color-blueMagenta: #445;
  --avatar-size: 50px;
}

/* HTML */
html {
  font-size: 62.5%;
}

/* Body */
body {
  color: var(--color-darkCharcoal);
  font-size: 1.4rem;
  line-height: 1.7;
}

h1,
h2,
h3 {
  color: var(--color-black);
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

/* Responsive */
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.5rem;
  }
}

/* Container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Block Padding  */
.block {
  padding: 4rem 2rem;
}

/* Buttons */
.btn {
  outline: 0;
  border: 0;
  padding: 2rem 2.5rem;
  margin: 1rem 0;
  border-radius: 8px;
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;
  white-space: nowrap;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.btn--block {
  width: 100%;
  font-size: 1.6rem;
}

/* Responsive */
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }

  .btn--block {
    font-size: 2rem;
  }
}

/* Badge */
.badge {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 2px solid var(--color-primary);
  background-color: var(--color-white);
  color: var(--color-primary);
  border-radius: 32px;
}

.badge--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* Responsive */
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
}

/* List */
.list {
  list-style: none;
  font-size: 1.8rem;
}

.list--inline .list__item {
  display: inline-block;
  margin-left: 2rem;
}

.list--tick .list__item {
  background: url("/assets/images/Tick-Square.svg") no-repeat right center;
  padding-right: 3rem;
  margin-bottom: 1.5rem;
}

/* Responsive */
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

/* Navbar Section */
.main-header {
  background-color: var(--color-navbar);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: var(--color-navbar);
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}

.nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-out;
}

.nav.nav__expanded .nav__list {
  max-height: 100vh;
  opacity: 1;
}

.nav__item {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-silver);
}

.nav__item > a {
  text-decoration: none;
  color: var(--color-gray-medium-dark);
  display: block;
  padding: 0.5rem 0;
}
.nav__item > a:hover {
  color: var(--color-primary);
}

.nav__item.cta > a {
  color: var(--color-white);
  font-size: 1.4rem;
}

.nav__item.cta {
  font-size: 1.4rem;
  border: 0;
}

.nav__item .btn {
  padding: 1rem 3rem;
}

/* Responsive */
@media screen and (min-width: 768px) {
  .nav {
    padding: 0 2rem;
  }
  .nav__toggler {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    align-items: center;
    width: auto;
    opacity: 1;
    max-height: 100%;
  }
  .nav__item {
    margin-right: 2rem;
    margin-bottom: 0;
    font-size: 1.6rem;
    border: 0;
  }
}

/* Toggler */
.nav__toggler {
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--color-black);
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.4s ease-out;
}

.nav.nav__expanded .bar-one {
  transform: rotate(-60deg) translate(-9px, 6px);
  margin: 8px 0;
}
.nav.nav__expanded .bar-two {
  opacity: 0;
}
.nav.nav__expanded .bar-three {
  transform: rotate(52deg) translate(-8px, -8px);
  margin: 8px 0;
}

/* End of Navbar Section */

/* Hero Section */
.hero-section {
  width: 100%;
  height: 478px;
  position: relative;
}

.hero-section .banner-img {
  width: 100%;
  height: auto;
}

.banner-phone {
  display: none;
}

.hero-wrapper {
  position: absolute;
  top: 6rem;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 478px;
}

.intro-btn {
  background-image: linear-gradient(
    51deg,
    var(--gradient-intro-btn-dark) 5%,
    var(--gradient-intro-btn-light) 95%
  );
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 270px;
}

.intro-btn h1 {
  color: var(--color-white);
  font-size: 2.5rem;
}

.intro-btn h2 {
  color: var(--color-white);
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.intro-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.intro-btn__passenger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: var(--color-white);
  border-radius: 12px;
  margin-bottom: 2rem;
  padding: 14px;
  width: 220px;
}

.intro-btn__passenger > i {
  color: var(--color-black);
}

.intro-btn__passenger p {
  font-size: 1.4rem;
  margin: 0 auto;
}

.intro-btn__passenger.driver-intro {
  border: 2px solid var(--color-white);
  background-color: var(--gradient-intro-btn-medium) !important;
  color: var(--color-white);
}

/* Responsive */
@media screen and (max-width: 375px) {
  .hero-wrapper {
    top: 3.5rem;
  }
}

@media screen and (min-width: 768px) {
  .hero-wrapper {
    justify-content: flex-start;
    top: 2.8rem;
    right: 0;
  }

  .intro-btn {
    width: 530px;
    padding: 25px;
    border-radius: 20px;
  }
  .intro-btn h1 {
    font-size: 5rem;
  }
  .intro-btn h2 {
    font-size: 2.5rem;
  }

  .intro-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .intro-btn__passenger p {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero-section .banner-phone {
    display: block;
    width: 42rem;
    height: auto;
    position: absolute;
    left: 6%;
    bottom: -50%;
  }
}

@media screen and (min-width: 1510px) and (max-width: 1710px) {
  .hero-section .banner-phone {
    left: 14%;
  }
}

@media screen and (min-width: 1711px) and (max-width: 2211px) {
  .hero-section .banner-phone {
    left: 20%;
  }
}

@media screen and (min-width: 2212px) and (max-width: 2732px) {
  .hero-section .banner-phone {
    left: 28%;
  }
}

@media screen and (min-width: 2733px) and (max-width: 4100px) {
  .hero-section .banner-phone {
    left: 36%;
  }
}

@media screen and (min-width: 4101px) and (max-width: 5470px) {
  .hero-section .banner-phone {
    left: 39%;
  }
}

/* End of Hero Section */

/* Services Section */
.services {
  margin-top: 8rem;
}

.services__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.block-heading {
  margin-top: 6rem;
}

.services__tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  padding: 5px 0 15px;
  user-select: none;
  cursor: pointer;
}

.services__tabs::-webkit-scrollbar {
  display: none;
}

.active-scroll {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.services__tabs .tab {
  display: block;
  text-decoration: none;
  color: var(--color-gray-medium-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
  opacity: 0.5;
  transition: all 0.3s ease-out;
}

.services__tabs .tab:hover {
  opacity: 1;
  cursor: pointer;
}

.services__tabs img {
  max-width: 85px;
}

.services__tabs .tab > p {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: flex;
}

.tab.active {
  opacity: 1;
}

.services .feature__image {
  display: none;
}

.feature__detail {
  width: 100%;
}

.services .feature__title {
  margin: 1.5rem 0;
}

/* Responsive */
@media screen and (max-width: 550px) {
  .services {
    margin-top: 14.5rem;
    padding-top: 5rem;
  }
}

@media screen and (max-width: 450px) {
  .services {
    margin-top: 0;
  }
}

@media screen and (max-width: 380px) {
  .services {
    margin-top: 4rem;
    padding: 0 2rem 4rem;
  }
  .services .services__title {
    margin-top: 0;
  }
}

@media screen and (min-width: 590px) {
  .services {
    margin-top: 22rem;
    padding-top: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .services {
    margin-top: -11.1rem;
  }

  .block {
    padding: 6rem 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .services {
    margin-top: 0;
  }

  .services .services__title {
    margin-top: 0;
    font-size: 3.5rem;
    margin-bottom: 30px;
  }

  .services__tabs img {
    width: 100%;
  }

  .services__tabs .tab > p {
    margin-top: 1rem;
    font-size: 1.4rem;
  }

  .services .feature__image {
    display: block;
    width: 45%;
  }
  .services .feature__image img {
    width: 100%;
  }
  .services .feature__detail {
    width: 50%;
  }
}

@media screen and (min-width: 1510px) and (max-width: 1710px) {
  .services {
    margin-top: 6rem;
  }
}

@media screen and (min-width: 1711px) and (max-width: 2211px) {
  .services {
    margin-top: 19rem;
  }
}

@media screen and (min-width: 2212px) and (max-width: 2732px) {
  .services {
    margin-top: 45rem;
  }
}

@media screen and (min-width: 2733px) and (max-width: 4100px) {
  .services {
    margin-top: 95rem;
  }
}

@media screen and (min-width: 4101px) and (max-width: 5470px) {
  .services {
    margin-top: 141rem;
  }
}

/* End of Services Section*/

/* Feature Section */
.feature {
  display: grid;
  padding: 2rem;
  gap: 0 10rem;
}

.feature__image {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.feature__image > img {
  width: 100%;
  height: auto;
}

.feature__text {
  margin-bottom: 2rem;
  text-align: justify;
}

.feature .btn {
  padding: 1.2rem 3rem;
}

/* Responsive */
@media screen and (min-width: 1024px) {
  .feature {
    grid-template-columns: repeat(2, 1fr);
  }

  .feature__image {
    order: 2;
    margin-bottom: 0;
  }

  .feature__detail {
    order: 1;
  }

  .charge .feature__image {
    order: 1;
  }
}

/* End of Feature Section */

/* Plan-Block Section*/
.block-plan {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
  gap: 8rem 6rem;
  margin-top: 5rem;
}

.plan {
  font-size: 1.8rem;
  transition: all 0.2s ease-out;
}

.plan:hover {
  transform: scale(1.05);
}

.card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px var(--box-shadow-card);
}

.card__header {
  color: var(--color-white);
}
.card__header,
.card__body {
  padding: 3rem 2.5rem;
}

.card--primary .card__header {
  background-color: var(--color-primary-light);
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
}

.plan__introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.plan__price {
  font-size: 3rem;
}

.plan__billing-cycle {
  font-size: 1.4rem;
}

.plan__description {
  display: block;
  margin-top: 1.5rem;
}

.plan .btn--block {
  font-size: 1.6rem;
  margin-top: 10rem;
}

.plan--popular {
  transform: scale(1.1);
}

.plan--popular:hover {
  transform: scale(1.15);
}

/* Responsive */
@media screen and (min-width: 1024px) {
  .plan .btn--block {
    font-size: 1.8rem;
  }
}

/* End of Plan-Block Section */

/* Travell Section */
.travell__slides {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  padding-bottom: 1rem;
  cursor: pointer;
}

.travell__slides::-webkit-scrollbar {
  display: none;
}

.travell__slide {
  flex: 0 0 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.travell__slide:not(:last-child) {
  margin-left: 2rem;
}

.slide__img {
  width: 100%;
  height: 200px;
}

.travell__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
}

.slide__detail {
  background-color: var(--color-white);
  box-shadow: 0 10px 30px var(--color-black-light);
  border-radius: 32px;
  padding: 1rem 2rem;
  transform: translateY(-60px);
  width: 85%;
}

.slide__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.slide__header .badge {
  font-size: 1.2rem;
  padding: 0.1rem 1.2rem;
}

.slide__header p {
  font-size: 1.2rem;
  margin-right: 0.7rem;
}

.slide__detail .slide__title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 1rem;
}

.slide__detail .slide__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-gray-light);
  margin-top: 1rem;
}

.slide__icons .slide__icons-right i:first-child {
  color: var(--color-red);
}

/* Responsive */
@media screen and (min-width: 768px) {
  .travell__slide:not(:last-child) {
    margin-left: 4rem;
  }
}

/* Avatar */
.avatar-group {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.avatar-group .avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border: 3px solid var(--color-white);
  border-radius: 100%;
  overflow: hidden;
  margin-left: -20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.avatar-group .avatar:hover:not(:last-child) {
  transform: translate(10px);
}

.avatar-group .avatar img {
  width: 100%;
  height: 100%;
}

.hidden-avatars {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--avatar-size);
  height: var(--avatar-size);
  background-color: var(--color-primary-light);
  color: var(--color-white);
  border-radius: 100%;
  position: relative;
}

.slide__suggest {
  display: inline-block;
  font-size: 1.2rem;
  color: var(--color-primary);
  margin-right: 3px;
}

/* End of Travell Section */

/* Radio Button Section */
.select-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-type :not(:last-child) {
  margin-left: 2rem;
}

.select-control {
  flex-grow: 1;
}

.select-control input[type="radio"] {
  display: none;
}

.select-control label {
  display: block;
  width: 100%;
  border: 2px solid var(--color-silver);
  border-radius: 32px;
  padding: 1rem 2rem;
  font-weight: 700;
  color: var(--color-gray-medium-dark);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.select-control label::before {
  content: " ";
  position: absolute;
  box-shadow: 0 0 0 2px var(--color-silver);
  width: 15px;
  height: 15px;
  border-radius: 100%;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  border: 3px solid var(--color-white);
  transition: all 0.2s ease-out;
}

.select-control input[type="radio"]:checked + label {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.select-control input[type="radio"]:checked + label::before {
  box-shadow: 0 0 0 2px var(--color-primary);
  background-color: var(--color-primary);
}

/* Responsive */
@media screen and (max-width: 480px) {
  .select-control label::before {
    margin-right: -0.8rem;
  }
}

/* End of Radio Button Section*/

/* Accordion Section  */
.accordion-wrapper {
  background-color: var(--color-white);
  border: 2px solid var(--color-whisper);
  border-radius: 10px;
  box-shadow: 0 9px 12px var(--box-shadow-accordion);
}

.accordion-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-whisper);
}

.accordion-intro .accordion__resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
  border-bottom: 2px solid var(--color-whisper);
}

.accordion__heading {
  margin-bottom: 0;
  color: var(--color-eclipse);
  font-size: 1.8rem;
}

.accordion-intro .accordion__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2rem;
}

.accordion-intro .accordion__about h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

.accordion__about .fa-pen-to-square {
  padding-right: 0.5rem;
}

.accordion-intro .accordion__desc {
  display: flex;
  justify-content: space-between;
}

.accordion-intro .accordion__desc p {
  color: var(--color-gray-dark);
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-bottom: 2px solid var(--color-whisper);
  cursor: pointer;
  position: relative;
}

.accordion .icon__add-history {
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
  font-weight: 600;
  white-space: nowrap;
  padding-left: 1.5rem;
  color: var(--color-primary);
  position: absolute;
  top: 34%;
  left: 70px;
}

.accordion__header .icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 11%;
  color: var(--color-primary);
  font-size: 2rem;
}

.accordion__expanded .icon {
  transform: rotate(-90deg);
  transition: all 0.4s ease-out;
}

.accordion__content {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-out;
  border-radius: 5px;
}

.accordion__expanded .accordion__content {
  max-height: 100vh;
  opacity: 1;
  padding: 1rem 2rem;
}

.accordion__content .accordion__content-resume {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
}

.accordion__content .accordion__img {
  width: 110px;
  height: 105px;
  margin-left: 3rem;
}

.accordion__content .accordion__img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.accordion__content .accordion__title {
  border-bottom: 1px solid var(--color-silver);
  width: 100%;
}

.accordion__title .accordion__university-date,
.accordion__title .accordion__job,
.accordion__title .accordion__management {
  border: 0;
}

.accordion__content .accordion__university-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__content .accordion__language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.accordion__content .accordion__language .fa-pen-to-square {
  color: var(--color-primary);
}

.accordion__content .accordion__university-date i {
  color: var(--color-primary);
}

.accordion__title .accordion__university :last-child {
  margin-right: 1rem;
  color: var(--color-gray-medium);
}

.accordion__content p {
  margin: 1rem 0;
}

.accordion .fa-circle-plus {
  padding-left: 0.5rem;
}

/* Responsive */
@media screen and (max-width: 480px) {
  .accordion__content .accordion__img {
    width: 74px;
    height: 52px;
  }

  .accordion__content .accordion__title {
    word-spacing: -2px;
    font-size: 0.8rem;
  }

  .accordion__title .accordion__university :last-child {
    margin-right: 0;
  }

  .accordion__content .accordion__language {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 768px) {
  .accordion__header .icon {
    width: 5%;
  }
}

/* End of Accordion Section */

/* Contact-Us Section */
.contact-us {
  display: grid;
  justify-content: center;
  gap: 2.5rem 4rem;
}

.contact-us__map {
  display: none;
}

/* Responsive */
@media screen and (min-width: 1024px) {
  .contact-us {
    grid-template-areas:
      "icons form"
      "map form"
      "social form";
    grid-template-columns: 70fr 30fr;
    gap: 2rem 1rem;
  }

  .contact-us__form {
    grid-area: form;
  }
  .contact-us__icons {
    grid-area: icons;
  }
  .contact-us__map {
    grid-area: map;
    display: block;
    overflow: hidden;
  }
  .contact-us__map img {
    border-radius: 10px;
  }
  .contact-us__social {
    grid-area: social;
  }
}

/* Social Icons */
.contact-us__social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 10px 30px var(--color-black-light);
  padding: 2rem;
  border-radius: 10px;
}

.contact-us__social .icon-container {
  margin-right: 2rem;
}

/* Responsive */
@media screen and (min-width: 1024px) {
  .contact-us__social {
    justify-content: flex-end;
    margin-bottom: 0;
  }
  .contact-us__social .icon-container {
    margin-left: 2rem;
  }
}

/* Icons */
.contact-us__icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 0 10px 30px var(--color-black-light);
  border-radius: 10px;
  padding: 2rem;
}

.contact-us__icons .icon-holder {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.icon-holder__label {
  margin-left: 1rem;
  display: block;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: var(--color-red-light);
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
}

.icon--primary {
  fill: var(--color-blueMagenta);
}

/* Responsive */
@media screen and (min-width: 1024px) {
  .contact-us__icons {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .contact-us__icons .icon-holder {
    flex-direction: column;
    max-width: 150px;
  }
  .icon-holder__label {
    order: 2;
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }
}

/* Map */
.contact-us__map img {
  width: 100%;
  height: auto;
}

/* Form */
.contact-us__form {
  height: 90%;
  margin-right: 0;
}

.form-wrapper {
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 30px var(--color-black-light);
  padding: 1rem;
}

.form-wrapper h3 {
  margin-bottom: 5.2rem;
  text-align: center;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

input,
textarea {
  display: block;
  outline: 0;
  border: 0;
}

textarea {
  resize: none;
}

::placeholder {
  font-size: 1.2rem;
  font-family: "vazir";
  color: var(--color-darkCharcoal);
}

.form-wrapper input,
.form-wrapper textarea {
  border-radius: 39px;
  border: 1px solid var(--color-silver);
  background-color: var(--color-whiteSmoke);
  padding: 1.2rem 1.5rem;
  font-family: "vazir";
  margin-bottom: 1.5rem;
}

.form-wrapper input:focus,
.form-wrapper textarea:focus {
  border: 1px solid var(--color-primary);
}

.form-wrapper textarea {
  border-radius: 5px;
}

/* Responsive */
@media screen and (min-width: 1024px) {
  .contact-us__form {
    margin-right: 3rem;
    height: auto;
  }
  .form-wrapper {
    padding: 3rem;
  }
}

/* End of Contact-Us Section */

/* Footer Section */
.main-footer {
  background-color: var(--color-black);
  color: var(--color-white);
  min-height: 250px;
  display: flex;
  align-items: center;
}

.main-footer .footer {
  display: flex;
  flex-direction: column;
}

.footer__item {
  margin-bottom: 2.5rem;
}
.travel__slide img {
  width: 100%;
  height: auto;
  border-radius: 32px;
}
.slide__detail {
  background-color: #fff;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 32px;
  padding: 1.5rem 2rem;
  transform: translateY(-60px);
  width: 80%;
}
.footer__item h5 {
  color: var(--color-white);
  font-size: 1.2rem;
  margin-top: -1.5rem;
}
.footer__item p {
  display: none;
}

.footer__item h6 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer__item.enemad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #cacaca;
}
.slide__icons span {
  font-size: 1.5rem;
}
