<section class="container travel block">
  <div class="travel__slides">
    <div class="travel__slide">
      <div class="slide__img">
        <img src="../assets/images/travell.png" alt="" />
      </div>
      <div class="slide__detail">
        <div class="slide__header">
          <span class="badge badge--primary">ویژه</span>
          <p>اقامت رایگان &bull; سفر سه روزه</p>
        </div>
        <p class="slide__title">سفر به قلب کویر</p>
        <div class="slide__icons">
          <div class="">
            <i class="fas fa-heart"></i>
            <span>12</span>
            <i class="far fa-eye"></i>
            <span>14</span>
          </div>
          <div class="">
            <i class="far fa-edit"></i> <i class="far fa-trash-alt"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="travel__slide">
      <div class="slide__img">
        <img src="../assets/images/travell.png" alt="" />
      </div>
      <div class="slide__detail">
        <div class="slide__header">
          <span class="badge badge--primary">ویژه</span>
          <p>اقامت رایگان &bull; سفر سه روزه</p>
        </div>
        <p class="slide__title">سفر به قلب کویر</p>
        <div class="slide__icons">
          <div class="">
            <i class="fas fa-heart"></i>
            <span>12</span>
            <i class="far fa-eye"></i>
            <span>14</span>
          </div>
          <div class="">
            <i class="far fa-edit"></i> <i class="far fa-trash-alt"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="travel__slide">
      <div class="slide__img">
        <img src="../assets/images/travell.png" alt="" />
      </div>
      <div class="slide__detail">
        <div class="slide__header">
          <span class="badge badge--primary">ویژه</span>
          <p>اقامت رایگان &bull; سفر سه روزه</p>
        </div>
        <p class="slide__title">سفر به قلب کویر</p>
        <div class="slide__icons">
          <div class="">
            <i class="fas fa-heart"></i>
            <span>12</span>
            <i class="far fa-eye"></i>
            <span>14</span>
          </div>
          <div class="">
            <i class="far fa-edit"></i> <i class="far fa-trash-alt"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
